<footer class="footer-area">
    <div class="container">
        <div class="footer-contact">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <div class="footer-card">
                        <i class='bx bx-time'></i>
                        <h3 style="font-size:15px ;">Monday - Saturday : 9:30 AM - 06:30 PM</h3>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4">
                    <div class="footer-card">
                        <i class='bx bxs-map'></i>
                        <h3 style="font-size:15px ;">  5/223B,Level 1,
                            Marthandam Road,     Karungal,
                            Kanyakumari Dt-629157,
                            Tamil Nadu, India</h3>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4">
                    <div class="footer-card">
                        <i class='bx bxs-phone-call'></i>
                        <h3 style="font-size:15px ;" class="media-tel">
                            <a href="tel:+19876543210"> +91 8807685351</a> 
                        </h3>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="col-sm-6 col-lg-4">
            <div class="footer-item">
                <div class="footer-logo">
                    <a routerLink="/"><img src="assets/pic/logo.jpg" alt="Logo"></a>

                    <ul>
                        <li><a href="https://www.youtube.com/" target="_blank"><i class="icofont-youtube-play"></i></a></li>
                        <li><a href="https://www.facebook.com/" target="_blank"><i class="icofont-facebook"></i></a></li>
                        <li><a href="https://www.instagram.com/" target="_blank"><i class="icofont-instagram"></i></a></li>
                        <li><a href="https://www.twitter.com/" target="_blank"><i class="icofont-twitter"></i></a></li>
                    </ul>
                </div>
            </div>
        </div> -->
        <div class="footer-top-list pb-70">
            <div class="row">
                <div class="col-lg-4 col-md-4">
                    <!-- <div class="footer-list">
                        <h3>Courses</h3>

                        <ul>
                            <li><i class='bx bxs-chevron-right'></i> <a routerLink="/services">Full stack web developer
                            </a></li>
                            <li><i class='bx bxs-chevron-right'></i> <a routerLink="/services">Front End developer
                            </a></li>
                            <li><i class='bx bxs-chevron-right'></i> <a routerLink="/services">Data science and Machine learning Engineer
                            </a></li>
                            <li><i class='bx bxs-chevron-right'></i> <a routerLink="/services">Microsoft power platform consultant
                            </a></li>
                            <li><i class='bx bxs-chevron-right'></i> <a routerLink="/services">DevOps cloud Engineer
                            </a></li>
                             <li><i class='bx bxs-chevron-right'></i> <a routerLink="/services">CD-DVD Covers</a></li> 
                        </ul>
                    </div> -->
                </div>
                
                <div class="footer-top-list pb-70">
                    <div class="row">
                        
             <div class="col-lg-4 col-md-4">
                            
               <div class="footer-list">
                                <!-- <div class="footer-logo"> -->
                                    <!-- <img src="assets/img/fmlogosm.png" alt="Footer Logo"> -->
                                <!-- </div> -->
                                <div>
                                    <a href="#" target="_blank"><i class='bx bxl-facebook' style="font-size:40px ;color: white;"></i></a>
                                    <a href="#" target="_blank"><i class='bx bxl-twitter' style="font-size:40px ;"></i></a>
                                        <a href="#" target="_blank"><i class='bx bxl-instagram' style="font-size:40px ;"></i></a>
                                </div>
                                <h3>Courses</h3> 
                                <!--  --<ul class="social-bottom">
                                    <br><br>
                                    <li><a href="#" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                                     <p>facebook</p> -->
                                    <!-- <li><a href="#" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                                    <li><a href="#" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                                </ul>> -->
        
                                <ul>
                                    <li><i class='bx bxs-chevron-right'></i> <a routerLink="/services">Full stack web developer
                                    </a></li>
                                    <li><i class='bx bxs-chevron-right'></i> <a routerLink="/services">Front End developer
                                    </a></li>
                                    <li><i class='bx bxs-chevron-right'></i> <a routerLink="/services">Data science and Machine learning Engineer
                                    </a></li>
                                    <li><i class='bx bxs-chevron-right'></i> <a routerLink="/services">Microsoft power platform consultant
                                    </a></li>
                                    <li><i class='bx bxs-chevron-right'></i> <a routerLink="/services">DevOps cloud Engineer
                                    </a></li>
                                     <li><i class='bx bxs-chevron-right'></i> <a routerLink="/services">CD-DVD Covers</a></li> 
                                </ul>
                            </div>
                        </div>
        
                        <div class="col-lg-3 col-md-3">
                            <div class="footer-list">
        
                                 <h3>Quick Links</h3>
                                <ul>
                                    <li><i class='bx bxs-chevron-right'></i><a routerLink="/index">Home</a></li>
                                    <li><i class='bx bxs-chevron-right'></i><a routerLink="/services">Courses</a></li>
                                    <li><i class='bx bxs-chevron-right'></i><a routerLink="/about">About Us</a></li>
                                    <!-- <li><i class='bx bxs-chevron-right'></i><a routerLink="/testimonial">Testimonial</a></li> 
                                    <li><i class='bx bxs-chevron-right'></i><a routerLink="/blog">Blog</a></li>  -->
                                    <li><i class='bx bxs-chevron-right'></i><a routerLink="/contact">Contact</a></li>
                                </ul> 
                            </div>
                        </div>
        
                        <div class="col-lg-5 col-md-5">
                            <div class="footer-side-list">
                                <h3>Contact Us</h3>
        
                                <ul>
                                    <li><i class='bx bxs-phone'></i> <a href="tel:+11234567891">+91 8807685351</a></li>
                                    <!-- <li><i class='bx bxs-phone'></i> <a href="tel:+19876543210">+1  9876 543 210</a></li> -->
                                    <li><i class='bx bxl-telegram'></i> <a href="mailto:email@dizo.com">hr@frankmax.academy</a></li>
                                    <!-- <li><i class='bx bxl-telegram'></i> <a href="mailto:hello@dizo.com">hello@dizo.com</a></li> -->
                                    <li ><i class='bx bxs-map'></i>  
                                        <div style="margin-left: 50px;margin-top :-30px">
                                         5/223B,Level 1,
                                        Marthandam  Road,Karungal, 
                                        Kanyakumari Dt-629157,
                                        Tamil Nadu, India
                                    </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
             
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-3">
                    <div class="footer-logo">
                        <img src="assets/img/mmmmmmmmmmmmmmmmmmm.png" alt="Footer Logo">
                    </div>
                </div> 

                <div class="col-lg-8 col-md-9">
                    <div class="bottom-text">
                        <p  style="text-align:left;">Copyright @2022 Frankmax Academy. All Rights Reserved by <a href="https://hibootstrap.com/" target="_blank">frankmax.academy</a></p>
                        <ul class="social-bottom">
                            <li><a href="#" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                            <li><a href="#" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                            <li><a href="#" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>


