
.navbar-brand{
    width: 100PX;
}
.vb{
 left: 500px;   
}

/* Navbar container */
.daisy {
    overflow: hidden;
    // background-color: #333;
    font-family: Arial;
  }
  
  /* Links inside the navbar */
  .daisy a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
/* Add a red background color to navbar links on hover */
.daisy a:hover, .dropdown:hover .dropbtn {
    // background-color:rgb(180, 175, 175);
    background-color:#928ceb;
    
    
  }

  .navbar-area{
    font-family: Arial, Helvetica, sans-serif;
  
    font-weight: bold;
    // padding: 15px 10px;

   
}